<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets"
        id="com.wino.winoTresfer"
        version="2.0.1"
        android-packageName="com.wino.winoTresfer"
        android-versionCode="2">
  <name>winoTresfer</name>
  <description>winoTresfert.</description>
  <author email="tabris@eclipsesource.com" href="https://tabrisjs.com">EclipseSource</author>

  <preference name="EnableDeveloperConsole" value="false" />
  <plugin name="cordova-plugin-file-transfer" spec="2.0.1"/>
  <plugin name="cordova-plugin-file-opener2" spec="2.0.1"/>


</widget>

